@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<body class="privacy-page">
    <h1 class="privacy-header">— Privacy</h1>
    <p class="privacy-paragraph">The Flying Saucer values and respects the privacy and autonomy of all sentient beings, regardless of their planet of origin. This site does not collect your data. This site does not use cookies. This site only offers information about the Flying Saucer restaurant and its menu selection.</p>
</body>